/lupa/
/decompiler/ModelDecompiler/.vs/ModelDecompiler/v16
/__pycache__
/decompiler/ModelDecompiler/ModelDecompiler/x64/Debug
/decompiler/ModelDecompiler/ModelDecompiler/barrel_water_blue.mdl
/decompiler/ModelDecompiler/x64/Debug/barrel_water_blue.mdl
/decompiler/ModelDecompiler/x64/Debug
